@import '../../vars.css';

.container{
    display:flex;
    height: 70vh;
    flex-direction: column;
    border-radius: 10px;
    background: #00bfa5;
    background: linear-gradient(
        180deg,
        #00bfa5 0%,
        #002e28 100%
    );
    box-shadow: 0 2px 14px 0 #017566;
    padding: 18px 24px;
    margin-bottom: 50px;
    max-width: 345px;
}

.image{
    margin-bottom: 26px;
    width: 100%;
    height: 170px;
    border-radius: 15px;
}

.title{
    font-size: 25px;
    font-weight: 700;
}

.description{
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
}

.skills{
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill{
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: #0a0909;
    padding: 2px 22px;
}

.links{
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;

}

.link{
    text-decoration: none;
    color:var(--color-text);
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background: #c44569;
    padding: 1px 22px;
}

.build{
    text-decoration: none;
    color:var(--color-text);
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background: #45c45a;
    padding: 1px 22px;
}

.build:hover{
    background: var(--color-hover);
    transition: 0.3s;
    padding: 2px 25px;
}