@import '../../vars.css';

.container{
    display:flex;
    height: 334px;
    flex-direction: column;
    border-radius: 10px;
    background: #00bfa5;
    background: linear-gradient(
        180deg,
        #018675 0%,
        #018675 60%,
        #00594D 100%
    );
    box-shadow: 0 2px 14px 0 #017566;
    padding: 18px 24px;
    margin-bottom: 40px;
    width: 300px;
    align-items: center;
}

.imageBg{
    width: 256px;
    height: 127px;
    background: black;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 9px;
}
.image{
    width: 90%;
    height: 127px;
}

.title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}

.description{
    font-size: 16px;
    font-weight: 400;
    -webkit-text-stroke: 1px #ececec;
	text-shadow: 0px 1px 2px #000000;
    text-align: center;
}

.moreBtn{
    width: 83px;
    padding-block:8px ;
    background: #39A697;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    text-align: center;
    place-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.moreBtn:hover{
    background: #E24F79;
    border-width: 1px;
    border-color:#AA3657 ;
    cursor: pointer;
}

.moreBtn:focus{
    color: #000000;
    background: #000000;
    border-width: 1px;
    border-color:#ffffff ;
    cursor: pointer;
    font-size: large;
}

.skills{
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill{
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: #0a0909;
    padding: 2px 22px;
}

.links{
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;

}

.link{
    text-decoration: none;
    color:var(--color-text);
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background: #c44569;
    padding: 1px 22px;
}

.build{
    text-decoration: none;
    color:var(--color-text);
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background: #45c45a;
    padding: 1px 22px;
}

.build:hover{
    background: var(--color-hover);
    transition: 0.3s;
    padding: 2px 25px;
}