@import '../../vars.css';

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin:  0 10%;
}

.navBarItem{
    background: none;
    /*color: inherit;*/
    color: blue;
    border: none;
    cursor: pointer;
}

.navBarItem:hover{
    background: rgba(109, 25, 43, 0.1);
    filter: blur(.1px);
    border-radius: 2px;
}

.title{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.menu{
    display: flex;
}

.menuItems{
    display: flex;
    gap: 47px;
    list-style: none;
}
.menuBtn{
    display: none;
}

.menuItems a{
    font-size: 25px;
    color:var(--color-text);
    text-decoration: none;
}

.menuItems a:hover{
    /*background-color:var(--color-hover);*/
    transition: 0.2s;
    color: var(--color-hover);
    padding: 2px;
}
/*
.navBarItem:hover{
    background-color:var(--color-hover);
    transition: 0.2s;
    border-radius: 5px;
    padding: 5px;
    color: blue;
}*/

/*Cuando la pantalla tenga esta medida*/
@media (max-width: 830px){
    .navbar{
         flex-direction: column;
         align-items: flex-start;
    }

    .menu{
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
        
    }
    
    .menuBtn{
        display: block;
        cursor: pointer;
        z-index: 5;
    }

    .menuItems{
        display: none;
        position: absolute;
        z-index: 0;
        right: -10px;
        top: -10px;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: var(--color-primary) ;
        padding-right: 15px;
        padding-left: 50px;
        padding-top: 60px;
        padding-bottom: 20px;
        box-shadow: 0 0 50px 0 rgba(0,0,0, 0.85);
        align-items: end;
        border-right-style: outset;
        border-width: 5px;
    }
    /*Este menu es para mostrarse cuando el jugador lo activa*/
    .menuOpen{
        display: flex;
        z-index: 0;
    }
    
}

